@media (max-width: 1366px) and (min-width: 1200px) {
  .weather {
    padding: 30px 40px;
  }
}

@media (max-width: 1200px) and (min-width: 992px) {

  .weather {
    padding: 0;
  }

  .weather-back {
    border-radius: 0;
  }

  .weather-day {
    border-radius: 0;

  }

  .weather-hour {
    border-radius: 0;
  }

  .weather-hour-cards {
    gap: 10px;
  }
}

@media (max-width: 992px) and (min-width: 768px) {
  .weather {
    padding: 0;
    height: auto;
  }

  .weather-back {
    border-radius: 0;
    width: 100%;
    height: auto;
    flex-direction: column;
  }

  .weather-day {
    width: 100%;
    border-radius: 0;
    padding: 30px;
    height: 600px;
  }

  .weather-postcript-container {
    top: 450px;
    right: 100px;
  }

  .weather-hour {
    width: 100%;
    height: auto;
    padding: 30px 30px;
    border-radius: 0;
  }

  .weather-hour-cards {
    gap: 25px;
    height: auto;
    padding: 20px 0px;
  }

  .weather-date {
    row-gap: 15px;
    column-gap: 100px;
    justify-content: center;
  }

  .weather-hour-title {
    font-size: 28px;
    margin-top: 0;
  }

  .content-postscript {
    font-size: 20px;
  }

  .weather-content-title {
    font-size: 20px;
  }

  .hour-title {
    font-size: 22px;
  }

}

@media (max-width: 768px) and (min-width: 576px) {
  .weather {
    padding: 0;
    height: auto;
  }

  .weather-back {
    border-radius: 0;
    width: 100%;
    height: auto;
    flex-direction: column;
  }

  .weather-day {
    width: 100%;
    border-radius: 0;
    padding: 30px;
    height: 600px;
  }

  .weather-postcript-container {
    top: 420px;
    right: 50px;
  }

  .weather-hour {

    width: 100%;
    height: 600px;
    padding: 30px 30px 50px;
    border-radius: 0;
  }

  .weather-hour-cards {
    gap: 25px;
    padding: 20px 70px;
  }

  .weather-date {
    row-gap: 15px;
    column-gap: 100px;
    justify-content: center;
  }

  .weather-hour-title {
    font-size: 28px;
    margin-top: 0;
  }

  .content-postscript {
    font-size: 20px;
  }

  .weather-content-title {
    font-size: 20px;
  }

  .hour-title {
    font-size: 22px;
  }

  .weather-postcript-container {
    top: 450px;
  }

}

@media (max-width: 576px) and (min-width: 400px) {
  .weather {
    padding: 0;
    height: auto;
  }

  .weather-date {
    row-gap: 15px;
    column-gap: 100px;
    justify-content: center;
  }

  .weather-back {
    border-radius: 0;
    width: 100%;
    height: auto;
    flex-direction: column;
  }

  .weather-day {
    width: 100%;
    border-radius: 0;
    padding: 30px;
    height: 600px;
  }

  .weather-postcript-container {
    top: 450px;
    right: 50px;
  }

  .weather-hour {
    width: 100%;
    height: 760px;
    padding: 30px 30px 50px;
    border-radius: 0;
  }

  .weather-hour-cards {
    gap: 25px;
    padding: 20px 50px;
  }

  .weather-hour-title {
    font-size: 28px;
    margin-top: 0;
  }

  .content-postscript {
    font-size: 20px;
  }

  .weather-content-title {
    font-size: 20px;
  }

  .hour-title {
    font-size: 22px;
  }
}

@media (max-width: 400px) and (min-width: 280px) {
  .weather {
    padding: 0;
    height: auto;
  }

  .weather-date {
    row-gap: 15px;
    column-gap: 15%;
    justify-content: center;
  }

  .weather-back {
    border-radius: 0;
    width: 100%;
    height: auto;
    flex-direction: column;
  }

  .weather-day {
    width: 100%;
    border-radius: 0;
    padding: 30px;
    height: 600px;
  }

  .weather-main-title {
    font-size: 100px;
  }

  .weather-postcript-container {
    top: 450px;
    right: 50px;
  }

  .weather-hour {
    width: 100%;
    height: auto;
    padding: 20px 10px 20px;
    border-radius: 0;
  }

  .weather-hour-cards {
    gap: 25px;
    padding: 20px 0px;
    height: auto;
  }

  .weather-card {
    width: 80px;
  }

  .weather-hour-title {
    font-size: 28px;
    margin-top: 0;
  }

  .content-postscript {
    font-size: 20px;
  }

  .weather-content-title {
    font-size: 20px;
  }

  .hour-title {
    font-size: 22px;
  }

  .hour-weather {
    font-size: 10px;
  }

  .weather-main-text h2 {
    font-size: 26px;
  }
}